* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#player {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  overflow-y: hidden;
}

#player #btns {
  float: left;
  width: 120px;
}
#player #btns a {
  line-height: 40px;
}

#player .icon {
  line-height: 40px;
}

#controls {
  width: 100%;
  background: #151515;
}

#audio {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

#playList {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
#songList {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 100%;
}
#songList ul li{
  width: 100%;
  overflow: hidden;
  font-size: 1em;
  color: #666;
  cursor: pointer;
}
#songList ul li.sel {
  color: #333;
}

#lyricView {
  width: 60%;
  height: 100px;
  margin: 8px auto;
  overflow-y: hidden;
}

#lyricView .loading {
  text-align: center;
  color: #666;
}

#lyricView>p {
  height: auto !important;
  line-height: 38px;
  min-height: 38px;
  margin: 0px;
  font-size: 1em;
  text-align: center;
  word-wrap: break-word;
  color: #999;
  cursor: pointer;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#lyricView p.sel {
  color: #5784f9;
}

#lyricWindow {
  position: absolute;
  bottom: 40px;
  z-index: 10;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 2.5em;
  color: #999;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  pointer-events: none;
}

#lyricWindow.over {
  background: black;
}

.scrollBar {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 12px;
  height: 500px;
  border: 1px solid black;
  display: none;
}

.scroll {
  position: absolute;
  left: 2px;
  width: 8px;
  height: 20px;
  background: gray;
  border-radius: 4px;
}
