* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft YaHei";
  background-color: #272822;
}

ul,li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

#player {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 40px;
  overflow-y: hidden;
  display: none;
}

#player #btns {
  float: left;
  width: 120px;
}
#player #btns a {
  line-height: 40px;
}

#player .icon {
  line-height: 40px;
}

#controls {
  width: 100%;
  background: #151515;
}

#audio {
  position: absolute;
  bottom: 0;
  width: 36%;
  height: 40px;
}

#playList {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
#songList {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 100%;
}
#songList ul li{
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #989898;
  cursor: pointer;
}
#songList ul li.sel {
  color: #fff;
}

#lyricView {
  top: 8px;
  width: 60%;
  height: 500px;
  margin: 30px auto;
  overflow-y: hidden;
}

#lyricView>p {
  height: auto !important;
  line-height: 38px;
  min-height: 38px;
  margin: 0px;
  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
  color: gray;
  cursor: pointer;
}
#lyricView p.sel {
  color: #eaeaea;
  font-size: 17px;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

#lyricWindow {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: auto !important;
  font-size: 3em;
  color: white;
  text-align: center;
  word-wrap: break-word;
  background: #0000004a;
  border-radius: 5px;
  pointer-events: none;
}

#lyricWindow.over {
  border: 1px solid black;
}

.scrollBar {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 12px;
  height: 500px;
  border: 1px solid black;
  display: none;
}

.scroll {
  position: absolute;
  left: 2px;
  width: 8px;
  height: 20px;
  background: gray;
  border-radius: 4px;
}
